.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    background: #fff;
    margin: 1rem;
    padding-top: 5px;
    border-radius: 10px;

    transition: 0.3s ease-out;
}

.card:hover{
    scale: 1.05;
    cursor: pointer;
}


.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.card h2{
    font-size: 24px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 0 1rem 1rem;
    line-height: 20px;
    margin-bottom: 10px;
}

.card-text-info{
    color: var(--text-color-dark-info);
    line-height: 10px;
}

p{
    margin: 0;
}

.card-text{
}

.card-delete-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-main);
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

.delete-btn:hover{
    background-color: var(--color-main);
}

.delete-btn img{
    width: 25px;
    height: 25px;
}

.delete-btn:hover img{
    transform: scale(1.2);
    transition-duration: 0.2s;
}

@media (max-width: 576px){
    .card{
        margin: 0px 20px;
    }
}