
.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 7%;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-dark);
    transition-duration: 0.5s, 1s;
}

.sidebar-link:hover {
    background-color: var(--sidebar-hover);
    color: var(--text-color-hover);
}