
.sidebar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(4px, 0.4vw, 10px);
    width: 100%;
    padding: 8px 8px;
    text-decoration: none;
    color: var(--text-color-dark);
    transition: 0.5s, 1s;
}

.sidebar-links:hover {
    background-color: var(--sidebar-hover);
    color: var(--text-color-hover);
}

.sidebar-links p {
    margin: 0 0 3px;
    line-height: 1;
    font-size: clamp(12px, 1.2vw + 6px, 24px);
}

.sidebar-links img {
    display: block;
    height: clamp(12px, 1.2vw + 6px, 24px);
    width: clamp(12px, 1.2vw + 6px, 24px);
    flex: 0 0 auto;
}