.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding: 5px;
    margin: 5px;
    background-color: white;
    color: var(--text-color-dark);
}

.auth-form-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.invalid{
    color: var(--warning-color);
    margin-bottom: 15px;
}

