.progress-bar-element {
    height: 15px;
    width: 100%;
    padding-bottom: 5px;
}

.progress-bar-outer {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    overflow: hidden;
    background-color: var(--background-color);
}

.progress-bar-inner{
    border-radius: inherit;
    height: 100%;
}