.dashboard {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.cardField {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.dashboardHeader {
    flex: 0 0 auto;
}

.dashboardContent {
    flex: 1 1 auto;
    overflow-y: auto;
}

.dashboardFooter {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    border-top: 1px solid #ddd;
}

.footerButton{
    display: flex;
    flex-direction: row;
    justify-items: center;
}


@media (max-width: 800px) {
    .cardField {
        grid-template-columns: repeat(2, 1fr);
    }
}