.dashboard {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.cardField {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}


.dashboard-header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background: white;
}

.dashboard-header form {
    flex: 1;
}

.dashboard-header input {
    width: 100%;
    flex: 1;
    border: 2px var(--text-color-dark-info) solid;
    border-radius: 5px;
    color: var(--text-color-dark);
}

input:focus {
    border: 2px var(--text-color-dark-info) solid;
    border-radius: 5px;
    color: var(--text-color-dark);
    outline: none;
}

.dashboard-header button {
    margin: 5px 10px;
}

.dashboardContent {
    flex: 1 1 auto;
    overflow-y: auto;
}

.dashboard-footer {
    position: sticky;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #ddd;
}

.dashboard-footer button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
}

.dashboard-footer p {
    margin: 0;
}

.dashboard-footer img {
    scale: 0.5;
    margin-left: 2px;
    margin-top: 3px;
}

.dashboard-footer button:disabled {
    background-color: #93a6ae;
    border-color: #93a6ae;
    cursor: not-allowed;
}




.flip-horizontal {
    transform: scaleX(-1);
}

@media (max-width: 800px) {
    .cardField {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cardField {
        /*display: grid;*/
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0 60px;
    }

}
