.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    padding: 5px;
    background-color: white;
    position: sticky;
    flex-shrink: 0;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header-text{
    font-size: clamp(16px, 2vw + 6px, 40px);
    margin: 0;
}
 h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    height: 100%;
}

hr {
    margin: 5px;
    padding: 0;
}

.sidebar-nav {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

a{
    flex: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    max-height: 50px;
}

.logoutBtn{
    flex: 0 0 auto;
    margin-top: auto;
}

img{
    scale: 1;
}