.project-detail{
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 10px solid white;
    border-radius: 10px;

}

h2{
    margin: 0;
}

p{
    margin: 0;
}

.project-container {
    display: flex;
    flex-direction: column;
}

.project-detail{
    flex: 1;
}

.project-details{
    display: flex;
    flex-direction: column;
    background: #fff;
}

.project-detail-main{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.project-detail-main form{
    flex: 1;
    margin: 0 30px;
}

.project-detail-main input{
    width: 100%;
    flex: 1;
    border: 2px var(--text-color-dark-info) solid;
    border-radius: 5px;
    color: var(--text-color-dark);
}

.project-detail-info p{
    margin: 0 10px;
    font-size: 14px;
    color: var(--text-color-dark-info);
    text-align: left;
}

input:focus {
    border: 2px var(--text-color-dark-info) solid;
    border-radius: 5px;
    color: var(--text-color-dark);
    outline: none;
}

.task-detail{
    display: flex;
    overflow-y: auto;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
}

.task{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75%;
    background-color: white;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 15px;
}

.task p{
    flex: 1;
}

.task-buttons{
    display: flex;
    flex-direction: row;
}

.task-action-button{
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    border-radius: 6px;
    margin-right: 10px;
}

.task-action-button img{
    scale: 1.3;
    margin-top: 3px
}

.footer-buttons{
    flex: 1;
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 75%;
    justify-content: space-around;
}

.footer-buttons button{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 10px;
}

.completed{
    text-decoration: line-through;
}

#add-task{
    scale: 0.4;
    margin-top: -9px
}