@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-color-dark: #333333;
    --text-color-hover: #0C7FDA;
    --text-color-dark-info: #bcbcbc;

    --warning-color: #D54545;
    --color-main: #fff;

    --sidebar-hover: #E9F5FE;
    --warning-color-hover: #9c373a;



    --background-color: #EFF2F4;

}

#root {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
}
a{
    width: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.projects {
  display: flex;
}

.Dashboard {
    width: 85%;
    background-color: var(--background-color);
}

p{
    color: var(--text-color-dark);
}

.login-page {
   display: flex;
    flex-direction: column;
}

.register-page {
    display: flex;
    flex-direction: column;
}
