@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    height: 100vh;
}



body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
a{
    width: 100%;
}

.sidebar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 10%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    text-decoration: none;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.projects {
  display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border-right: 2px solid #bababa;
    padding: 5px;
}
.home {
    width: 80%;
}
