@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --text-color-dark: #333333;
    --text-color-hover: #0C7FDA;
    --text-color-dark-info: #bcbcbc;

    --warning-color: #D54545;
    --color-main: #fff;

    --sidebar-hover: #E9F5FE;
    --warning-color-hover: #9c373a;

    --color-elements-main: #0C7FDA;
    --color-elements-hover: #1168b1;


    --background-color: #EFF2F4;

}

#root {
    width: 100%;
    height: 100vh;
}

main {
    flex: 1;
    overflow-y: auto;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background-color);
}

a {
    width: 100%;
}

.App {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.projects {
    display: flex;
}

.Dashboard {
    width: 85%;
    background-color: var(--background-color);
}

p {
    color: var(--text-color-dark);
}

.login-page {
    display: flex;
    flex-direction: column;
}

.register-page {
    display: flex;
    flex-direction: column;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--text-color-hover);
    border-radius: 5px;
    outline: none;
    background-color: var(--text-color-hover);
    padding: 0 10px 3px;
}

select{
    border: 3px solid var(--text-color-hover);
    border-radius: 10px;
    background-color: white;
    color: var(--text-color-hover);
    font-weight: bold;
    appearance: none;
}

button:hover {
    background-color: var(--color-elements-hover);
    border-color: var(--color-elements-hover);
    transition-duration: 0.2s;
}
select:hover{
    background-color: #f1f1f1;
    border-color: var(--color-elements-hover);
    transition-duration: 0.2s;
}

select:focus{
    outline: none;
}

option {
    border-radius: 10px;
    font-weight: bold;
}

a {
    color: var(--color-elements-main);
    text-decoration: none;
}
